#
# Ignore everything.
/*

# Only make the following available for the build context:
# For CI cache
!.vida_venv

# Django Project, Apps, and Files
!__init__.py
!requirements.txt
!vida_foundation/
!donations/
!vida/
!manage.py

# Nginx template
!nginx.conf.template

# Container entrypoint file
!start.sh
