# Django
Django==3.2.4
django-cors-headers==3.10.0

# REST
djangorestframework==3.12.4
django-filter==2.4.0

# Database (PostgreSQL)
dj-database-url==0.5.0
psycopg2==2.9.1
psycopg2-binary==2.9.1

# Heroku
django-heroku==0.3.1
gunicorn==20.1.0
whitenoise==5.3.0
python-dotenv==0.21.1

# Linting
pylint==2.11.1
